In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline


auctions = pd.read_csv('/home/gaston/Documentos/Orga de Datos/set de datos 1C2019/auctions/train.csv.gzip', encoding='latin-1')
auctions.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [2]:
auctions['source_id'].value_counts().head(10)

0    13354597
1     4016739
5     1466494
2      582083
6      151406
Name: source_id, dtype: int64

In [3]:
auctions.shape # dimension de la matriz

(19571319, 7)

In [4]:
auctions_columns = auctions.columns

In [5]:
auctions_columns # ver columnas

Index(['auction_type_id', 'country', 'date', 'device_id', 'platform',
       'ref_type_id', 'source_id'],
      dtype='object')

In [6]:
auctions['country'].value_counts().head() #elementos de la columna country

6333597102633388268    19571319
Name: country, dtype: int64

In [7]:
#como los elementos de la columna country son iguales, se pueden eliminar, son datos innecesarios

auctions=auctions.drop('country',axis='columns')

In [8]:
auctions.head()

,auction_type_id,date,device_id,platform,ref_type_id,source_id
0,NaN,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [9]:
auctions_typeId = auctions['auction_type_id']

In [10]:
auctions_typeId.value_counts().head() # elementos de la columna auction_type_id

Series([], Name: auction_type_id, dtype: int64)

In [11]:
auctions_typeId.isnull().sum()

19571319

In [12]:
# como todos los elementos de la columna auction_type_id son nulos los puedo eliminar

auctions=auctions.drop('auction_type_id',axis='columns')

In [13]:
auctions.head()

,date,device_id,platform,ref_type_id,source_id
0,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [14]:
click = pd.read_csv('/home/gaston/Documentos/Orga de Datos/set de datos 1C2019/click/train.csv.gzip', encoding='latin-1')
click.head()

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,1.0,iGgClCM9exiHF4K31g94XmvHEBSLKIY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,1.563,0.905,0.078,1891515180541284343,1904083516767779093
1,0,NaN,0,2019-03-08T10:24:30.641Z,6333597102633388268,1.218924,1.071209,False,4.0,MMHTOJ6qKAOeIH_Eywh1KIcCaxtO9oM,3.025219e+18,NaN,1.774085e+18,392184377613098015,NaN,NaN,NaN,NaN,1891515180541284343,3086509764961796666
2,0,NaN,0,2019-03-08T15:24:16.069Z,6333597102633388268,1.205689,1.070234,False,6.0,vIrEIdf9izUaWdAri6Ezk7T3nHFvNQU,5.975656e+18,NaN,3.072849e+18,392184377613098015,NaN,NaN,0.946,0.473,1891515180541284343,6958163894863846647
3,2,NaN,3,2019-03-06T03:08:51.543Z,6333597102633388268,1.205689,1.070234,False,45.0,YaKxxEAs2UmZhSpRfiCO9Zpa82B_AKM,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,19.013,0.035,0.431,1891515180541284343,4368617728156436525
4,2,NaN,3,2019-03-06T03:32:55.570Z,6333597102633388268,1.205689,1.070234,False,45.0,X5XTOcYQovkl6yadYdAD7xioVGU9jiY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,28.110,0.054,0.423,1891515180541284343,4368617728156436525

In [15]:
click.shape

(26351, 20)

In [16]:
click_nombreCol = click.columns
click_nombreCol

Index(['advertiser_id', 'action_id', 'source_id', 'created', 'country_code',
       'latitude', 'longitude', 'wifi_connection', 'carrier_id', 'trans_id',
       'os_minor', 'agent_device', 'os_major', 'specs_brand', 'brand',
       'timeToClick', 'touchX', 'touchY', 'ref_type', 'ref_hash'],
      dtype='object')

In [17]:
clickActionID= click['action_id'] # action id
clickActionID.value_counts().head()

Series([], Name: action_id, dtype: int64)

In [18]:
clickActionID.isnull().sum() # como es nula los elementos, se puede eliminar

26351

In [19]:
click = click.drop('action_id',axis='columns') # como es nula los elementos, se puede eliminar

In [20]:
click_country = click['country_code']
click_country.value_counts().head()

6333597102633388268    26351
Name: country_code, dtype: int64

In [21]:
click = click.drop('country_code',axis='columns') # como los elementos son iguales, se puede eliminar#un solo pais

In [22]:
click.head()

,advertiser_id,source_id,created,latitude,longitude,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,2,4,2019-03-06T22:42:12.755Z,1.205689,1.070234,False,1.0,iGgClCM9exiHF4K31g94XmvHEBSLKIY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,1.563,0.905,0.078,1891515180541284343,1904083516767779093
1,0,0,2019-03-08T10:24:30.641Z,1.218924,1.071209,False,4.0,MMHTOJ6qKAOeIH_Eywh1KIcCaxtO9oM,3.025219e+18,NaN,1.774085e+18,392184377613098015,NaN,NaN,NaN,NaN,1891515180541284343,3086509764961796666
2,0,0,2019-03-08T15:24:16.069Z,1.205689,1.070234,False,6.0,vIrEIdf9izUaWdAri6Ezk7T3nHFvNQU,5.975656e+18,NaN,3.072849e+18,392184377613098015,NaN,NaN,0.946,0.473,1891515180541284343,6958163894863846647
3,2,3,2019-03-06T03:08:51.543Z,1.205689,1.070234,False,45.0,YaKxxEAs2UmZhSpRfiCO9Zpa82B_AKM,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,19.013,0.035,0.431,1891515180541284343,4368617728156436525
4,2,3,2019-03-06T03:32:55.570Z,1.205689,1.070234,False,45.0,X5XTOcYQovkl6yadYdAD7xioVGU9jiY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,28.110,0.054,0.423,1891515180541284343,4368617728156436525

In [23]:
## elimino columnas para trabajar con datos mas pequeños
click = click.drop('timeToClick',axis='columns')
click = click.drop( 'touchX',axis='columns')
click = click.drop('touchY',axis='columns')
click = click.drop('latitude',axis='columns')
click = click.drop('longitude',axis='columns')
click.head()

,advertiser_id,source_id,created,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,ref_type,ref_hash
0,2,4,2019-03-06T22:42:12.755Z,False,1.0,iGgClCM9exiHF4K31g94XmvHEBSLKIY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,1891515180541284343,1904083516767779093
1,0,0,2019-03-08T10:24:30.641Z,False,4.0,MMHTOJ6qKAOeIH_Eywh1KIcCaxtO9oM,3.025219e+18,NaN,1.774085e+18,392184377613098015,NaN,1891515180541284343,3086509764961796666
2,0,0,2019-03-08T15:24:16.069Z,False,6.0,vIrEIdf9izUaWdAri6Ezk7T3nHFvNQU,5.975656e+18,NaN,3.072849e+18,392184377613098015,NaN,1891515180541284343,6958163894863846647
3,2,3,2019-03-06T03:08:51.543Z,False,45.0,YaKxxEAs2UmZhSpRfiCO9Zpa82B_AKM,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,1891515180541284343,4368617728156436525
4,2,3,2019-03-06T03:32:55.570Z,False,45.0,X5XTOcYQovkl6yadYdAD7xioVGU9jiY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,1891515180541284343,4368617728156436525

In [39]:
click = click.drop('specs_brand',axis='columns')
click.head()

,advertiser_id,source_id,created,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,brand,ref_type,ref_hash
0,2,4,2019-03-06T22:42:12.755Z,False,1.0,iGgClCM9exiHF4K31g94XmvHEBSLKIY,6.768137e+18,NaN,3.072849e+18,NaN,1891515180541284343,1904083516767779093
1,0,0,2019-03-08T10:24:30.641Z,False,4.0,MMHTOJ6qKAOeIH_Eywh1KIcCaxtO9oM,3.025219e+18,NaN,1.774085e+18,NaN,1891515180541284343,3086509764961796666
2,0,0,2019-03-08T15:24:16.069Z,False,6.0,vIrEIdf9izUaWdAri6Ezk7T3nHFvNQU,5.975656e+18,NaN,3.072849e+18,NaN,1891515180541284343,6958163894863846647
3,2,3,2019-03-06T03:08:51.543Z,False,45.0,YaKxxEAs2UmZhSpRfiCO9Zpa82B_AKM,6.768137e+18,NaN,3.072849e+18,NaN,1891515180541284343,4368617728156436525
4,2,3,2019-03-06T03:32:55.570Z,False,45.0,X5XTOcYQovkl6yadYdAD7xioVGU9jiY,6.768137e+18,NaN,3.072849e+18,NaN,1891515180541284343,4368617728156436525

In [43]:
click = click.drop('wifi_connection',axis='columns')
click = click.drop('trans_id',axis='columns')
click = click.drop('ref_type',axis='columns')
click = click.drop('ref_hash',axis='columns')
click.head()

,advertiser_id,source_id,created,carrier_id,os_minor,agent_device,os_major,brand
0,2,4,2019-03-06T22:42:12.755Z,1.0,6.768137e+18,NaN,3.072849e+18,NaN
1,0,0,2019-03-08T10:24:30.641Z,4.0,3.025219e+18,NaN,1.774085e+18,NaN
2,0,0,2019-03-08T15:24:16.069Z,6.0,5.975656e+18,NaN,3.072849e+18,NaN
3,2,3,2019-03-06T03:08:51.543Z,45.0,6.768137e+18,NaN,3.072849e+18,NaN
4,2,3,2019-03-06T03:32:55.570Z,45.0,6.768137e+18,NaN,3.072849e+18,NaN

In [25]:
## merge de Auctions y Click por source_id
mergeAuctions_click =pd.merge(click, auctions, on='source_id', how='outer')
##mergeAuctions_click =pd.merge(click, auctions, left_on='source_id', right_on='source_id')
#mergeAuctions_click =pd.merge(click, auctions, on='source_id')

#mergeAuctions_click.head()

MemoryError: